namespace AdventOfCode
{
    public class Day_XX : BaseDay
    {
        public override object Solve1()
        {
            throw new NotImplementedException();
        }

        public override object Solve2()
        {
            throw new NotImplementedException();
        }
    }
}
